<a href="https://colab.research.google.com/github/khandid3/DM_ML/blob/main/assignment0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**RAFAEL DOMINGUEZ**
**16422545**

 # Presentation

<img src = 'https://static.dw.com/image/17853645_304.jpg' width='1000'>

Dear classmates,

Welcome to my first Notebook for this class.

The data set concerns the highest earning players in eSports.
The data comes from [eSportsEarning](https://eSportsEarning.com). It is from 2020.

You can access [the data set](https://raw.githubusercontent.com/khandid3/DM_ML/main/assignment0/data/highest_earning_players.csv) on my github [repo](https://github.com/khandid3/DM_ML/tree/main/assignment0) concerning this assignment (0).



---



Let read the data set

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/khandid3/DM_ML/main/assignment0/data/highest_earning_players.csv')
data.head()

   PlayerId NameFirst  ...                              Game                 Genre
0      3883     Peter  ...  Counter-Strike: Global Offensive  First-Person Shooter
1      3679   Andreas  ...  Counter-Strike: Global Offensive  First-Person Shooter
2      3885   Nicolai  ...  Counter-Strike: Global Offensive  First-Person Shooter
3      3672     Lukas  ...  Counter-Strike: Global Offensive  First-Person Shooter
4     17800      Emil  ...  Counter-Strike: Global Offensive  First-Person Shooter

[5 rows x 8 columns]

This data set gives us the highest earned players.
We have information about the player, the total USD prize, the game and its genre.

# Data shape

We can check how many columns and rows our data set contains.

In [ ]:
data.shape

(1000, 8)

We have 1000 observations (rows), ie. a cardinalitiy of 1000.

We have 8 columns, ie. a dimensionality of 8.

**Point about the cardinality**:

It was asked to have several thousand on datapoint, here it has only 1 thousand, but I prefered to select this one rather that interests me than another one with more datapoint but less interest for me.

# Questions one may ask

**Interesting questions:**

* Who are the TOP 10 players?
* Which countries have the highest total earned money?
* Which game was the most frequent?
* In Top 100 players, what genre is the more represented?

These questions are all related to the fact of forming groups (ie. top 10, etc) with my data, so it would be more about clustering.

# And then ?

* We can check the type of each column.

In [ ]:
data.dtypes

PlayerId           int64
NameFirst         object
NameLast          object
CurrentHandle     object
CountryCode       object
TotalUSDPrize    float64
Game              object
Genre             object
dtype: object

* We can delete in TotalUSDPrize columnn what is coming after the comma, because when we speak about millions of dollars or hundred of thousand of dollars we can approximate.

* We can find if there is redundancy or outliers.

* And of course we can sort the data in order to answer the questions.